.rodape {
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.anuncio-container {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.anuncio {
    color: #fff;
    font-size: 1.5rem;
}
.conteudo-container {
    display: flex;
    gap: 5px;
    align-items: center;
}
.anuncio-conteudo {
    color: #fff;
}